<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>This is Dashboard page</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="container  text-center">
						<img alt="" style="height: 200px; width: 200px;"
							class="my_profile_picture"
							th:src="@{'/image/'+${user.imageUrlStr}}" src="">
					</div>
					<!-- <h1 class="text-center mt-3" th:text="${user.name}"></h1> -->
					<h1 class="text-center mt-3 text-secondary fst-italic fw-light">
						Start Adding your contact on cloud...</h1>
					<div class="d-grid gap-2 col-10 mx-auto">
						<a th:href="@{/user/add-contact}"
							class="btn btn-primary mt-4 text-uppercase">Add New Contact</a>
					</div>

				</div>

			</div>
		</div>
		<script type="text/javascript">
		
		$(document).ready(()=>{
			$(".item").removeClass("active");
			$("#home-link").addClass("active");
		})
		</script>
	</section>
</body>
</html>