body {
	background: #e2e2e2 !important;
}

.bg-primary {
	background: #009688 !important;
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
		url(../image/bg.jpg);
	background-size: cover;
	color: white;
}

.my-card {
	padding: 20px;
	background: #FFFFFF
}

#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 370px;
	border: 1px solid #9C9C9C;
	background-color: white;
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 30px;
}

#login .container #login-row #login-column #login-box #login-form #register-link
	{
	margin-top: -65px;
}

/* sidebar style */
@media only screen and (max-width:600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background-color: white;
		height: 100vh;
		position: fixed;
		padding-top: 20%;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background-color: white;
	height: 100%;
	position: fixed;
	padding-top: 40px;
	z-index : 99999999999999999999;
}

.sidebar .crossBtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	width: 100%;
	height: .5px;
	background: #e2e2e2;
	margin-top: 10%;
}

.content {
	margin-left: 18%;
}

.my_profile_picture{
	width: 30px;
	height: 30px;
	object-fit:cover;
	border-radius : 50%;
	border:1px solid black;
}

/*css for search  */

.search-result{
	position:absolute;
	background: white;
	width: 97%;
	padding:10px;
	border:1px solid gray;
	display: none;
}

.active{
	background:#009688 !important;
	color:white !important;
}